<!-- 
<div class="greet">
    <h4>Welcome</h4>
    <p>Welcome!We welcome you with deep of our heart!</p>
</div> -->

<div class="main">

    <div class="head">
        <div class="icon-wrapper">
            <img  id="img" src="https://cdn-icons-png.flaticon.com/128/2498/2498074.png" height="40px" width="40px"><h3>SEND SMS!</h3>   
        </div>
    </div>

    <form [formGroup]="smsform">
        <div class="component1">

            <label id="lbl" for="cars">Sender ID:</label>
            <br>
            <br>

            <select formControlName="sender" name="cars" id="cars">
                <option selected="">--Select--</option>
                <option value="NUEVAS">NUEVAS</option>
                <option value="TRKZIA">TRKZIA</option>
            </select>

            <br>
            <br>

            <label id="lbl" for="cars">Template:</label>

            <br>
            <br>

            <select formControlName="templateid" (change)="onchange($event)" name="cars" id="cars">
                <option selected="">--Select--</option>
                <option value="1707161891201501738">Your My SMS verification Code id . Do not share this code with others Team Nuevas</option>
                <option value="1707161855199873979">Dear User your OTP is  Kindly use OTP to validate your Registration. Team Trackzia</option>
                <option value="1707161899992775140">Dear  , Your Complaint with Complaint Id:  has Been Resolve Kindly Share OTP, The OTP is  \n From Nuevas</option>
            </select>

            <br>
            <br>
            <label id="lbl">Mobile No:</label>

            <br>
            <br>

            <textarea [(ngModel)]="textInput" (input)="count()" formControlName="mob" id="number" name="w3review" rows="6" placeholder="You Can Send Upto 50,000 Messages At a Time!" cols="50" [(ngModel)]="textBoxValue"></textarea>
            <br>
            
            <p id="p">Valid Number's!: {{ letterCount }}</p>
            <p id="i">Invalid Numbers count!: {{ getInvalidNumbersCount() }}</p>
            <button id="clearbtn" (click)="clearTextBox()">Clear</button>
            
            <br>

            <div class="display">
                <p><strong>Info! </strong>One variable=30 characters only.Enter the number of characters Accordingly!</p>
            </div>

            <br>
            <br>

            <label id="lbl">Message:</label>
            <input id="ContentPlaceHolder1_chkUnicode" type="checkbox" name="ctl00$ContentPlaceHolder1$chkUnicode">
            
            <label for="ContentPlaceHolder1_chkUnicode">Unicode (Hindi, Marathi SMS)</label>

            <br>
            <br>

            <textarea  formControlName="msg" id="msg" name="w3review" rows="6" placeholder="You Can Send Upto 50,000 Messages At a Time!" cols="50"></textarea>
            <p>Character Count: {{ letterCount }}</p>
            <br>
            <br>
            <br>
            <br>

            <button (click)="submit()"  class="btn">SEND SMS</button> 

        </div>
    </form>

</div>

<div class="option">
    <select formControlName="sender1" name="cars" id="cars1">
    </select>


</div>

<div class="chatbot">
    <h3>SELECT CHATBOT!</h3> 
    <!-- <img src="https://cdn-icons-png.flaticon.com/128/2814/2814666.png" id="botimg" height="50px" width="50px" style="margin-top: 8px;"><br> -->
<select id="select">
    <option selected="">--Select--</option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
</select>
</div>

<div class="media">
    <h3>SELECT MEDIA!</h3> 
    <img id="md"src="https://cdn-icons-png.flaticon.com/128/4303/4303904.png" height="50px" width="50px" style="margin-top: 8px;"><br>
    <div class="upld">
        <input type="file" id="upld" name="filename">
        <br><br>
        <input id="mdsbt" type="submit">
    </div>
</div>

<router-outlet></router-outlet>
