<div class="display">
    <p>Last Login: <strong>{{currentDateTime}}</strong></p>
</div>

<div class="components">
    <div id="dash" class="campaign">
        <p>TOTAL CAMPAIGN</p>
        <p id="three">3</p>
        <div class="campaignbox">
            <img id="camimg"src="https://cdn-icons-png.flaticon.com/128/12887/12887924.png" height="20px" width="20px">
        </div>
    </div><br>
    
    <div id="dash" class="quantity">
        <p>TOTAL QUANTITY</p>
        <p id="three">2</p>
        <div class="quantitybox">
            <img id="quanimg"src="https://cdn-icons-png.flaticon.com/128/561/561127.png" height="20px" width="20px">
        </div>
    </div><br>
    
    <div id="dash" class="credit">
        <p>TOTAL CREDIT</p>
        <p id="three">5</p>
        <div class="creditbox">
            <img id="creditimg"src="https://cdn-icons-png.flaticon.com/128/74/74742.png" height="20px" width="20px">
        </div>
    </div>
</div>
<div class="chart">
    <label for="chartbox" class="label">Usage Chart</label><br>

    <select formControlName="sender1" name="chartbox" id="chartbox">
        <option id="" value="NUEVAS">NUEVAS</option>
    </select>
</div>
